version: "3.7"

services:
  app:
    image: zinibu/python:3.7.6
    # build:
    #   context: ./flask
    command: development
    ports:
      - "5000:5000"
    volumes:
      # bind mount for development
      - type: bind
        source: ./flask/project
        target: /root/project

    depends_on:
      - redis
  redis:
    image: redis:5.0.3
    ports:
      - "6379:6379"
